.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для визуального эффекта */
}

.navbar-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding-left: 0; /* Убираем отступ слева */
    display: flex; /* Преобразуем список в flex-контейнер */
    justify-content: space-between;
    gap: 20px; /* Добавляем расстояние между элементами */
    align-items: center; /* Вертикальное выравнивание элементов */
}

.navbar-list li {
    flex-grow: 1;
    text-align: center;
}

.navbar-list>li>a{
    background-color: darkseagreen;
    display: block;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-list>li>a:hover{
    color: lightblue;
}

@media screen and ( max-width: 768px) {
    .navbar-list {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-list li {
        flex-grow: 0;
    }

    .navbar-list li a {
        padding: 18px 32px;
        font-size: 18px;
    }
}